<!DOCTYPE html>
<html>
<head>
 <head>
    <meta charset="UTF-8" />
    <title>Hello Person</title>
	<script src="webjars/react/umd/react.development.js"></script>
	<script src="webjars/react-dom/umd/react-dom.development.js"></script>
	<script src="webjars/babel-standalone/babel.min.js"></script>
    <!-- Don't use this in production: -->
<!--     <script src="https://unpkg.com/react@16/umd/react.development.js"></script> -->
<!--     <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
<!--     <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->
  </head>
    <div id="root"></div>
    <script type="text/babel">

      ReactDOM.render(
        <h1>Hello, person! [[${person.name}]] [[${person.surname}]] </h1>,
        document.getElementById('root')
      );

    </script>
    
    <form action="#" th:action="@{/add}" th:object="${person}" method="post">
    <input type="text" th:field="*{name}" />
    <input type="text" th:field="*{surname}" />
    <button type="submit" name="addRow" th:text="Add">Dodaj</button>
	</form>
    
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
</html>